body{
    background: lightblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn{
    background: pink;
    margin: 20px;
}

.add-btn{
    background: rgb(75, 255, 75);
    width: 40px;
    height: 40px;
}
.app-title{
    text-align: center;
    color: rgb(255, 200, 117);
    font-size: 70px;
}
.container{
    border: 5px solid red;
    border-radius: 25px;

}
